.slide{
    height: 500px;
    min-height: 500px;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}
.carousel-item{
    overflow: hidden;
}
.slide img{
    width: 100%;
}

.popular h1:after{
    position: absolute;
    padding: 2px 29px;
    background: blue;
    bottom: -3px;
    content: "";
    left: 47%;
}
.card-container img{
    min-height: 300px !important;
    height: 300px;
    margin-left: auto!important;
    margin-right: auto!important;
}
.social .btn{
    border-radius: 50% !important;
}
.bg-black{
    background: black !important;
}
.star-rating {
    line-height:20px;
    font-size:1em;
}
.btn-primary {
    color: #fff;
    background-color: deeppink;
    border-color: deeppink;
}
.item-content{
    position: absolute;
    top:20%;
}

.star-rating .fa-star{color: darkorange;}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -11px;
    right: 11px;
    z-index:1032;
}

@media (min-width: 1300px) {
    .container {
        max-width: 1310px;
    }
}

@media (max-width: 575.98px) {
.slide{
    height: 250px !important;
    min-height: 250px;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}
.popular .row{
    margin-right: -5px;
    margin-left: -5px;
}
.popular .items{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
}

